

body{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    border-top: solid 5px;
    border-bottom: solid 5px;
    color: #966549;
}

.titulo-paragrafo{
    border: 1px solid;
    background-color: #966549 ;
    color: whitesmoke;
    padding-left: 10px;

}

.image{
    border:solid 3px #966549;
    padding: 10px;
}
